@import '../../sass/variables.scss';
.spinner {
  height: 60rem;
  width: 65%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media only screen and (max-width: $bp-large) {
    height: 55rem;
  }
  @media only screen and (max-width: $bp-small) {
    height: 60rem;
  }
  @media only screen and (max-width: $bp-medium-low) {
    width: 80%;
  }

  svg {
    height: 6rem;
    width: 6rem;
    fill: $color-primary;
    animation: rotate 2.5s infinite linear;
  }
}
