@import "../../../sass/variables.scss";
.card {
  height: 45rem;
  width: 55%;
  position: relative;

  animation: moveInLeft 0.5s ease-in-out 0.5s backwards;

  @media only screen and (max-width: $bp-large) {
    height: 40rem;
  }
  @media only screen and (max-width: $bp-small) {
    height: 45rem;
  }
  @media only screen and (max-width: $bp-medium-low) {
    width: 80%;
  }

  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

  &__side {
    height: 45rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
    transition: all 0.8s ease;

    @media only screen and (max-width: $bp-large) {
      height: 40rem;
    }
    @media only screen and (max-width: $bp-small) {
      height: 45rem;
    }

    &__catched-pokemon {
      animation: pulsate 1s ease-in-out 1.5s;
      box-shadow: 0rem 0rem 2rem 1rem rgba(greenyellow, 0.5);
    }
    &__catched-pokemon--back {
      box-shadow: 0rem 0rem 2rem 1rem rgba(greenyellow, 0.5);
    }

    &--front {
      background-image:
        linear-gradient(to top, rgba(255, 255, 255, 0.028), 50%, $color-white),
        url(../../../img/wallpaper.jpg);

      background-size: cover;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media only screen and (max-width: $bp-large) {
        background-position: center;
      }
    }

    &--back {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
      z-index: 3;
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  &__picture {
    width: 100%;
  }
  &__pokeImg {
    height: 32rem;
    width: 100%;
    display: block;
    overflow: hidden;
    object-fit: contain;
    @media only screen and (max-width: $bp-large) {
      height: 29rem;
    }
  }
  &__pokemon__name {
    width: 100%;
    text-align: center;

    color: $color-white;
    font-weight: 700;
    font-size: 3.5rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    transform: skewY(-5deg);
    z-index: 1;
    overflow: hidden;

    @media only screen and (max-width: $bp-large) {
      font-size: 2.2rem;
    }
  }

  // BACK SIDE STYLING

  &__pokemon-details {
    height: 100%;
    width: auto;
    padding: 1rem;
    border-radius: 5px;
    overflow: hidden;
    background-color: $color-white;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-pic-back {
      position: absolute;
      top: 70%;
      left: 70%;
      transform: translate(-50%, -50%);
      opacity: 0.15;
      z-index: 2;
      &--img {
        height: 28rem;
        width: auto;
        @media only screen and (max-width: $bp-medium) {
          height: 24rem;
        }
      }
    }
  }

  &__pokemon-atributes {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 70%;
    width: 100%;
    z-index: 10;
  }

  &__pokemon-atribute {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 0.4rem 1.5rem;
    border-radius: 5px;

    @media only screen and (max-width: $bp-large) {
      font-size: 1.1rem;
    }

    span {
      font-weight: 700;
      font-size: 1.5rem;
      margin-left: 0.8rem;

      @media only screen and (max-width: $bp-large) {
        font-size: 1.2rem;
      }
    }

    &--height {
      border: 1px solid $color-grey-dark-2;
    }
    &--attack {
      background-color: $attack;
    }
    &--defense {
      background-color: $defense;
    }
    &--health {
      background-color: $hp;
    }
    &--speed {
      background-color: $speed;
    }
    &--types {
      padding: 0.2rem 0.7rem;
      border: 2px dashed $color-black;
    }
    &--type {
      margin-left: 1rem;
    }
    &--abilities {
      background-color: $color-white;
      border: 2px solid $color-grey-dark-3;
    }
  }

  &__pokeheader {
    height: 30%;
    width: 100%;
    background-image:
      linear-gradient(to bottom, rgba(255, 255, 255, 0.028), 70%, $color-white),
      url(../../../img/catchtemall-bg-pic.png);

    background-size: cover;
    background-position: center;
    z-index: 1;
    flex-shrink: 0;
  }
  @media only screen and (max-width: $bp-medium) {
    &__click-instructions {
      height: 4.5rem;
      width: 4.5em;

      position: absolute;
      top: 0;
      right: 0;
      background-image: url(../../../img/click-instructions.png);
      background-size: cover;
      opacity: 0.9;
    }
  }
}
