@import '../../../sass/variables.scss';
.pagination {
  padding: 2rem 3.5rem;

  @media only screen and (max-width: $bp-large) {
    padding: 0rem 2.8rem;
  }

  @media only screen and (max-width: $bp-medium-low) {
    padding: 2rem 1rem;
  }
  @media only screen and (max-width: $bp-small) {
    display: flex;
    flex-direction: column;
    padding: 0 0.3rem;
    &__btn--list {
      padding: 1rem 1rem;
    }
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
    &--list {
      text-align: center;
      font-size: 2rem;
      float: right;
      margin: 0 10%;
    }
  }
}

.btn--inline {
  color: $color-primary;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  background-color: $color-grey-light-1;
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;

  @media only screen and (max-width: $bp-small) {
    border-radius: 3rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    background-color: $color-primary;
    color: $color-grey-light-2;
    padding: 1.3rem 0;
    box-shadow: 0 1rem 1rem rgba($color-grey-dark-1, 0.5);
    justify-content: center;
  }

  display: flex;
  align-items: center;
  transition: all 0.1s;

  svg {
    height: 1.6rem;
    width: 1.6rem;
    fill: currentColor;
    margin: 0 0.2rem;

    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }

  span {
    margin: 0 0.4rem;
    @media only screen and (max-width: $bp-small) {
      height: 3rem;
    }
  }

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.4rem 0.3rem 0rem rgba($color-black, 0.2);
  }

  &:active {
    outline: none;
    transform: translateY(0rem);
    box-shadow: 0 0.1rem 0.1rem 0rem rgba($color-black, 0.2);
  }
}
